body {
  font-family: sans-serif;
  background-image: url("/Users/Guest/Desktop/resort-site/imgs/beach.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  color:white;
}
/*---Check video for information: https://www.youtube.com/watch?v=8x1mO1d6-4w reference -->*/
.navigation_bar h1 {
  text-align: center;
  color:white;
}
.navigation_bar ul {
  margin: 0px;
  padding: 0px;
  list-style:none;
}

.navigation_bar ul li {
  float:left;
  width: 230px;
  height: 40px;
  background: white;
  opacity: .8;
  line-height:40px;
  text-align: center;
  font-size: 20px;
}

.navigation_bar ul li a {
  text-decoration: none;
  color: blue;
  display: block;

}

.navigation_bar ul li a:hover {
  color:aqua;
}

.navigation_bar ul li {
  display:block;
}
